.item {
  background: #fff;
  /* border: 1px solid var(--color-line-in-white); */
  border-radius: 0.8rem;
  margin-top: 2.4rem;
  overflow: hidden;
  header {
    padding: 3.2rem 2rem;
    display: flex;
    align-items: center;

    img {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
    }

    div {
      margin-left: 2.4rem;
      strong {
        font: 700 2.4rem 'Open Sans';
        display: block;
        color: #000;
      }
      span {
        color: #000;
        font-size: 1.6rem;
        display: block;
        margin-top: 0.4rem;
      }
    }
  }
  > p {
    color: #000;
    padding: 0 2rem;
    font-size: 1.6rem;
    line-height: 2.8rem;
  }
  footer {
    padding: 3.2rem 2rem;
    background: #fff;;
    /* border-top: 1px solid var(--color-line-in-white); */
    margin-top: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    p strong {
      color: #000;
      font-size: 1.6rem;
      display: block;
    }
    a {
      width: 20rem;
      height: 5.6rem;
      background: #000;
      color: #fff;
      border: 0;
      border-radius: 0.8rem;
      cursor: pointer;
      font: 700 1.4rem 'Open Sans';
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      transition: 0.2s;
      text-decoration: none;
    }
  }
}

/* .teacher-item footer a:hover {
  background: var(--color-secundary-dark);
} */