.input-container {
  background-color: #ceb47a;
  border-radius: 8px;
  padding: 16px;
  width: 100%;
  border: 2px solid #ceb47a;
  display: flex;
  align-items: center;
  margin-right: 8px;
}

.input-container + .input-container {
  margin-right: 8px;
}

.input-container input {
  flex: 1;
  background: transparent;
  border: 0;
  color: #fff;
}
.input-container input::placeholder {
  color: #fff;
}

div.input-container + div.input-container {
  margin-top: 8px;
}

div.input-container svg {
  margin-right: 16px;
}