.container {
  margin: 0 240px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.filtros {
  border-radius: 0.8rem;
  height: 100%;
  background-color: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 32px 240px;
  div {
    margin-bottom: 16px;
  }
}