.pageHeader {
  display: flex;
  flex-direction: column;
  background-color: #c1a067;
}

.topBarContainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000;
  padding: 25px 0;
  a {
    height: 51px;
    transition: opacity 0.2s;
    &:hover {
      opacity: 0.6;
    }
  }
  > img {
    height: 25px;
  }
}

.headerContent {
  width: 90%;
  margin: 0 auto;
  position: relative;
  margin: 51px auto;
  strong {
    font: 600 32px Open Sans;
    line-height: 41px;
    color: #fff;
  }
  p {
    max-width: 480px;
    font-size: 16px;
    line-height: 25px;
    color: #fff;
    margin-top: 6px;
  }
}

@media (min-width: 700px) {
  .pageHeader {
    height: 340px;
  }

  .topBarContainer {
    max-width: 1100px;
  }

  .headerContent {
    flex: 1;
    max-width: 740px;
    margin: 0 auto;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    strong {
      max-width: 550px;
    }
  }
}