* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

body {
  background: #4e8b91;
  color: #fff;
  -webkit-font-smoothing: antialiased;
}

body, input, button {
  font-family: 'Open Sans', serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6, strong {
  font-family: 600;
}

button {
  cursor: pointer;
}

fieldset {
  border: 0;
  padding: 0 2.4rem;
}